@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

.main-div {
  min-height: 100vh;
  background: #021a20;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.child-div {
  text-align: center;
  margin-top: 12rem;
}

.main-div .child-div .todolog {
  font-size: 100px;
  color: rgba(255, 255, 0, 0.671);
}
.main-div .child-div h1 {
  color: white;
}

.main-div .child-div .input {
  width: 100%;
  justify-content: center;
}
.main-div .child-div .input input {
  margin-top: 10px;
  width: 300px;
  height: 35px;
  margin-left: 20px;
  font-size: 20px;
}
.main-div .child-div .input button {
  height: 35px;
  width: 50px;
}

.main-div .child-div .showitems {
  background-color: rgb(28, 28, 182);
  width: 351px;
  height: 35px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
  border-radius: 4px;

}

.main-div .child-div .showitems h3{
  margin-left: 3px;
}

.main-div .child-div .showitems .delete {
  height: 35px;
  width: 50px;
  background-color: rgb(28, 28, 182);
  border: none;
  color: white;
}

.main-div .child-div .showitems .edit {
  height: 35px;
  width: 50px;
  margin-left: 230px;
  background-color: rgb(28, 28, 182);
  border: none;
  color: white;
}

.main-div .child-div .button .btn-secondary {
  height: 33px;
  font-size: 15px;
}